.cartsManager-container{
    text-align: center;
}
.table-carts th,
.table-carts td {
    text-align: center;
}
.btn-config{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.btn-carts{
    width: 70px;
    margin: 5px;
}