.prodContainer{
    display: grid;
    grid-template-columns: auto auto auto ;
    margin: 20px 0px;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.card img {
max-width: 100%;
}

.card .name {
font-weight: bold;
margin: 10px 0;
}

.card .description {
margin: 10px 0;
}

.card .price {
    font-size:x-large;
}

.card .add-to-cart {
background-color: #00f;
color: #fff;
padding: 5px 10px;
border: none;
border-radius: 5px;
width: 40%;
font-size: medium;
align-self: center;
margin-top: auto;
}

.navegationPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.page-link{
    border: none;
    font-size: 30px;
}
.filter-prod{
    width: 50%;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}