.realTimeTitle {
    text-align: center;
}
.table th, td{
    text-align: center;
}
.navegationPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.btnPrice{
    border: none;
    height: 70%;
    margin-top: 18px;
}
.page-link{
    border: none;
    font-size: 30px;
}
.form-select{
    border: none;
    margin-top: 18px;
    cursor: pointer;
    width: 75%;
}