<div class="container">
    <h1 class="homeTitle">Bienvenidos 🙌</h1>
    <a href="/products">
        <button>Ver listado de productos</button>
    </a>
    <a href="/api/realtimeproducts">
        <button>Ir a Products Manager</button>
    </a>
    <a href="/carts/654d2cf1fdc586a57eb6a939">
        <button>Carrito</button>
    </a>
</div>