<nav>
    <ul>
        <li><strong>Ecommerce</strong></li>
    </ul>
    <ul>
        <li><a href="/login">Iniciar sesión</a></li>
        <li><a href="/register">Registrate</a></li>
        <li><a href="/profile">Perfil</a></li>
    </ul>
</nav>