<nav>
    <ul>
        <li><strong>Ecommerce</strong></li>
    </ul>
    <ul>
        {{#if isAdmin}}
            <li><a href="/api/products">ProductsManager</a></li>
            <li><a href="/api/carts">CartsManager</a></li>
            <li><a href="/products">Tienda</a></li>
        {{else}}
            <li><a href="/products">Tienda</a></li>
        {{/if}}
        <li><a href="/api/auth/logout">Cerrar sesión</a></li>
    </ul>
</nav>
<article>
    <header>
        <h1>Datos del usuario:</h1>
    </header>
    <p>Nombre: {{user.first_name}}</p>
    <p>Apellido: {{user.last_name}}</p>
    <p>Correo: {{user.email}}</p>
</article>